@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.siderbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background-color: #1E5128;
    z-index: 100;
    transition: all 0.5s ease;
}

.siderbar.close {
    width: 78px;
}

.siderbar .logo-details {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}

.siderbar .logo-details i {
    font-size: 40px;
    color: #fff;
    display: flex;
    align-items: center;
    height: 50px;
    min-height: 78px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    margin-left: 20px;
}

.siderbar .logo-details .logo_name {
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay: 0.1s;
}

.siderbar.close .logo-details .logo_name {
    opacity: 0;
    pointer-events: none;
    transition-delay: 0s;
}

.siderbar .nav-links {
    background-color: #1E5128;
    height: 100%;
    padding: 30px 0 150px 0;
    overflow: auto;
}

.siderbar.close .nav-links {
    overflow: visible;
}

.siderbar .nav-links::-webkit-scrollbar {
    display: none;
}

.siderbar .nav-links li {
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}

.siderbar .nav-links li:hover {
    background-color: #4E9F3D;
}

.siderbar .nav-links li .icon-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.siderbar.close .nav-links li .icon-link {
    display: block;
}

.siderbar .nav-links li i {
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.siderbar .nav-links li.showMenu i.arrow {
    transform: rotate(-180deg);
}

.siderbar.close .nav-links i.arrow {
    display: none;
}

.siderbar .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.siderbar .nav-links li a .link_name {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.siderbar.close .nav-links li a .link_name {
    opacity: 0;
    pointer-events: none;
}

.siderbar .nav-links li .sub-menu {
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background-color: #4E9F3D;
    display: none;
}

.siderbar .nav-links li.showMenu .sub-menu {
    display: block;
}

.siderbar .nav-links li .sub-menu a {
    color: #fff;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
}

.siderbar .nav-links li .sub-menu a:hover {
    opacity: 1;
}

.siderbar.close .nav-links li .sub-menu {
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
}

.siderbar.close .nav-links li:hover .sub-menu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
}

.siderbar .nav-links li .sub-menu .link_name {
    display: none;
}

.siderbar.close .nav-links li .sub-menu .link_name {
    display: none;
    opacity: 1;
    display: block;
}

.siderbar.close .nav-links li .sub-menu .link_name {
    font-size: 18px;
    opacity: 1;
    display: block;
}

.siderbar .nav-links li .sub-menu.blank {
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
}

.siderbar .nav-links li:hover .sub-menu.blank {
    top: 50%;
    transform: translateY(-50%);
}


/*-------------------------------------------------------*/

.siderbar .profile-details {
    position: fixed;
    bottom: 0;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4E9F3D;
    padding: 6px 0;
    transition: all 0.5s ease;
}

.siderbar.close .profile-details {
    background: none;
}

.siderbar.close .profile-details {
    width: 78px;
}

.siderbar .profile-details .profile-content {
    display: flex;
    align-items: center;
}

.siderbar .profile-details img {
    width: 55px;
    height: 65px;
    object-fit: cover;
    border-radius: 5px;
    margin: 0 14px 0 9px;
    background-color: #fff;
    padding: -5px;
    transition: all 0.5s ease;
}

.siderbar.close .profile-details img {
    padding: 10px;
}

.siderbar .profile-details .profile_name,
.siderbar .profile-details .job {
    color: #fff;
    margin: 0 65px 0 9px;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
}

.siderbar.close .profile-details,
i .siderbar.close .profile-details .profile_name,
.siderbar.close .profile-details .job {
    display: none;
    margin: 0 14px 0 9px;
}

.siderbar .profile-details .job {
    font-size: 12px;
}

.siderbar .profile-details i {
    margin-top: 50%;
}

.home-section {
    position: absolute;
    top: 2px;
    left: 40px;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5 ease;
}

.siderbar.close~.home-section {
    left: 78px;
    width: calc(100% - 78px);
}

.home-section .home-content {
    height: 60px;
    display: flex;
    align-items: center;
}

.home-section .home-content .bx-menu,
.home-section .home-content .text {
    color: rgb(0, 0, 0);
    font-size: 35px;
}

.home-section .home-content .bx-menu {
    margin: 0 15px;
    cursor: pointer;
}

.home-section .home-content .text {
    font-size: 26px;
    font-weight: 600;
}